@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.MuiButton-root {
  text-transform: lowercase;
  background-color: #1e293b;
}
/* Navbar styles */
.app-bar {
  background-color: #1e293b;
}

.app-bar h5 {
  display: flex;
  align-items: center;
}

.app-bar h5 span {
  margin-right: 5px;
}

.app-bar h5 .avg {
  color: #e5e5e5;
}

.app-bar h5 .song {
  color: #0d9488;
}

/* Navbar link styles */
.app-bar nav a {
  color: #e5e5e5;
  margin: 0 10px;
  text-decoration: none;
}

.app-bar nav a:hover {
  color: #0d9488;
}
